<!-- Menu Desktop -->
<div class="desktop-menu">
    <div class="logo">
        <img src="assets/images/hisnapqr-logo.svg" alt="Logo">
    </div>
    <div class="main-menu">
        <ul>
            <li><a routerLink="home">Início</a></li>
            <li><a routerLink="services">Serviços</a></li>
            <li><a routerLink="packages">Preços</a></li>
            <li><a routerLink="help">Ajuda</a></li>
        </ul>
    </div>
    <div class="tools">
        <sqr-button *ngIf="isLoggedIn" icon="fa-solid qrcode" iconPosition="left" [showIconMobile]="true"
            [showIconDesktop]="true" [showTextMobile]="false" [showTextDesktop]="true" class="primary"
            routerLink="dashboard">
            <span>Painel</span>
        </sqr-button>
        <sqr-button [icon]="isLoggedIn ? 'fa-solid door-open' : 'fa-solid user'" iconPosition="left"
            [showIconMobile]="true" [showIconDesktop]="true" [showTextMobile]="false" [showTextDesktop]="true"
            class="primary" (click)="handleAuthAction()">
            {{ isLoggedIn ? 'Sair' : 'Entrar' }}
        </sqr-button>
    </div>
</div>

<!-- Menu Mobile -->
<div class="mobile-menu">
    <!-- Botão de menu (Hamburger) -->
    <sqr-button icon="fa-solid bars" iconPosition="left" [showIconMobile]="true" [showIconDesktop]="true"
        [showTextMobile]="false" [showTextDesktop]="true" class="primary" (click)="toggleMenu()">
    </sqr-button>

    <!-- Menu expandido -->
    <div class="menu-overlay" id="menuOverlay">
        <div class="controls">
            <sqr-button id="closeBtn" icon="fa-solid close" iconPosition="left" [showIconMobile]="true"
                [showIconDesktop]="true" [showTextMobile]="false" [showTextDesktop]="true" class="primary"
                (click)="closeMenu()">
            </sqr-button>
        </div>

        <nav class="menu" (click)="closeMenu()">
            <ul>
                <li><a routerLink="home">Início</a></li>
                <li><a routerLink="services">Serviços</a></li>
                <li><a routerLink="packages">Preços</a></li>
                <li><a routerLink="help">Ajuda</a></li>
            </ul>
        </nav>
    </div>

    <div class="tools">
        <sqr-button *ngIf="isLoggedIn" icon="fa-solid qrcode" iconPosition="left" [showIconMobile]="true"
            [showIconDesktop]="true" [showTextMobile]="false" [showTextDesktop]="true" class="primary"
            routerLink="dashboard">
            <span>Painel</span>
        </sqr-button>
        <sqr-button [icon]="isLoggedIn ? 'fa-solid door-open' : 'fa-solid user'" iconPosition="left"
            [showIconMobile]="true" [showIconDesktop]="true" [showTextMobile]="false" [showTextDesktop]="true"
            class="primary" (click)="handleAuthAction()">
            {{ isLoggedIn ? 'Sair' : 'Entrar' }}
        </sqr-button>
    </div>
</div>