.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 10vh;
}

.logo img {
    transition: height 0.3s ease;
}

.desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;

    .logo {
        display: flex;
        justify-content: flex-start;
        height: 50px;
        img {
            height: 50px;
        }
    }

    .main-menu {
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin: 0 15px;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 16px;

                    &:hover {
                        color: #f0f0f0;
                    }
                }
            }
        }
    }

    .tools {
        display: flex;
        gap: 10px;
        justify-content: flex-end;

        button {
            padding: 10px 20px;
            background-color: #fff;
            color: var(--primary-color);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f0f0f0;
            }
        }
    }
}

/* Menu Mobile */
.mobile-menu {
    padding: 1em;
    display: none;
    gap: 10px;
    justify-content: space-between;
    background-color: var(--primary-color);

    /* Menu mobile começa oculto */

    .menu-btn {
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 35px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 10;
        color: #f0f0f0 !important;

        .menu-icon {
            width: 100%;
            height: 4px;
            background-color: #fff;
            transition: all 0.3s ease;
        }
    }

    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 20;

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    margin: 20px 0;

                    a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 18px;
                        transition: color 0.3s;

                        &:hover {
                            color: var(--secondary-color);
                        }
                    }
                }
            }
        }

        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            background: none;
            border: none;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            z-index: 10;
        }
    }
}

/* Responsividade */
@media (max-width: 768px) {

    /* Exibir o menu mobile e ocultar o menu desktop em telas pequenas */
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        /* Mostrar o menu mobile */
    }
}

@media (min-width: 769px) {

    /* Exibir o menu desktop e ocultar o menu mobile em telas grandes */
    .desktop-menu {
        display: flex;
    }

    .mobile-menu {
        display: none;
        /* Ocultar o menu mobile */
    }
}