<!-- Menu Desktop -->
<div class="desktop-menu">
    <div class="logo">
        <img src="assets/images/hisnapqr-logo.svg" alt="Logo">
    </div>
    <div class="main-menu">
        <ul>
            <li><a routerLink="home">Início</a></li>
            <li><a routerLink="qr-code-generator">Criador de QR Code</a></li>
            <li><a routerLink="packs">Preços</a></li>
            <li><a routerLink="help">Ajuda</a></li>
        </ul>
    </div>
    <div class="tools">
        <button routerLink="dashboard">Painel</button>
        <button routerLink="sign-in">Entrar</button>
    </div>
</div>

<!-- Menu Mobile -->
<div class="mobile-menu">
    <!-- Botão de menu (Hamburger) -->
    <button class="menu-btn" id="menuBtn" (click)="toggleMenu()">
        <i class="fa-solid bars"></i>
    </button>

    <!-- Menu expandido -->
    <div class="menu-overlay" id="menuOverlay">
        <button class="close-btn" id="closeBtn" (click)="closeMenu()">X</button>
        <nav class="menu" (click)="closeMenu()">
            <ul>
                <li><a routerLink="home">Início</a></li>
                <li><a routerLink="qr-code-generator">Criador de QR Code</a></li>
                <li><a routerLink="packs">Preços</a></li>
                <li><a routerLink="help">Ajuda</a></li>
            </ul>
        </nav>
    </div>

    <div class="tools">
        <button class="menu-btn" id="dashboardBtn" routerLink="dashboard">
            <i class="fa-solid qrcode"></i>
        </button>

        <button class="menu-btn" id="signInBtn" routerLink="sign-in">
            <i class="fa-solid user"></i>
        </button>
    </div>
</div>