.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 65px;
    transition: height 0.3s ease;
}

.menu {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
    position: relative;
}

.menu a:hover {
    color: #9932cc;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.right-menu a {
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
}

.right-menu a:hover {
    color: #9932cc;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu,
    .right-menu {
        gap: 0px;
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        text-align: left;
        padding: 0;
    }

    .menu.active {
        display: flex;
        flex: 1;
    }

    .right-menu.active {
        display: flex;
        top: 284px;
        flex-grow: 1;
        justify-content: center;
    }

    .menu a,
    .right-menu a {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
    }

    .right-menu a {
        z-index: 10000;
    }

    .hamburger {
        display: block;
    }

    .sign-in-link {
        border-top: 1px solid #e2e2e2;
        width: 100%;
    }
}