.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    height: 65px;
    transition: height 0.3s ease;
}

.menu {
    display: flex;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.menu a {
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
    position: relative;
}

.menu a:hover {
    color: #9932cc;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.right-menu a {
    text-decoration: none;
    color: #6a0dad;
    font-weight: bold;
}

.right-menu a:hover {
    color: #9932cc;
}

.menu-mobile {
    display: none;
}

@media (max-width: 768px) {

    .menu,
    .right-menu {
        gap: 0px;
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 89px;
        left: 0;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1001;
        text-align: left;
        padding: 0;
    }

    .menu.active {
        display: flex;
        flex: 1;
    }

    .right-menu.active {
        display: flex;
        top: 284px;
        flex-grow: 1;
        justify-content: center;
    }

    .menu a,
    .right-menu a {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
    }

    .right-menu a {
        z-index: 10000;
    }

    .menu-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: #6a0dad;
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;

        &:focus,
        &:active {
            outline: none;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        &:hover {
            color: #ffffff;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        }

        &:active {
            background-color: #6a0dad;
            transform: scale(0.95);
        }

        i {
            pointer-events: none;
        }
    }

    .sign-in-link {
        border-top: 1px solid #e2e2e2;
        width: 100%;
        background-color: #6a0dad;
        color: #e2e2e2 !important;
        border-top: 1px solid #2d014d;
    }
}