<app-banner></app-banner>

<h1>Usar QR Code só tem vantagens</h1>

<section class="advantages-section">
    <img src="assets/images/qr-code-advantage-01.webp" alt="Velocity">
    <div class="text">
        <h3>Agilidade</h3>
        <p>Os códigos QR são rápidos e fáceis de escanear, tornando o compartilhamento de informações simples e eficiente.</p>
    </div>
</section>

<section class="advantages-section">
    <div class="text">
        <h3>Versatilidade</h3>
        <p>Com os códigos QR, você pode integrar vários tipos de dados, de URLs a detalhes de pagamento, garantindo versatilidade.
        </p>
    </div>
    <img src="assets/images/qr-code-advantage-02.webp" alt="Versatility">
</section>

<section class="advantages-section">
    <div>
        <img src="assets/images/qr-code-advantage-03.webp" alt="Usability">
    </div>
    <div class="text">
        <h3>Usabilidade</h3>
        <p>Os códigos QR aumentam o envolvimento do usuário ao oferecer acesso interativo e dinâmico ao conteúdo.</p>
    </div>
</section>