<section class="form-wrapper">
    <h2>Acesso</h2>
    <form>
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" placeholder="Insira seu usuário" required>

        <label for="password">Senha</label>
        <input type="password" id="password" name="password" placeholder="Insira sua senha" required>

        <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
        </div>

        <p class="text-center">
            <a routerLink="../recovery-password" class="form-link">Esqueci minha senha</a>
        </p>

        <p class="text-center">
            <a routerLink="../register" class="form-link">Criar conta</a>
        </p>

        <button type="submit">Acessar</button>
    </form>
</section>