<section class="terms-of-service">
    <h2>Termos de Serviço</h2>
    <p><strong>Data de Vigência:</strong> 2025/01/19</p>
    <p>Sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos e protegemos
        suas informações quando você utiliza nossos serviços.</p>
    <h3>1. Introdução</h3>
    <p>Estes Termos de Serviço ("Termos") regem o uso do sistema de geração de QR codes oferecido por [Nome da Empresa]
        ("Empresa"). Ao acessar e utilizar o sistema, você concorda em cumprir estes Termos.</p>
    <h3>2. Uso do Sistema</h3>
    <p>O sistema permite aos usuários gerar QR codes personalizados para diversos fins, incluindo, mas não se limitando
        a, marketing, pagamento, e compartilhamento de informações.</p>
    <h3>3. Registo de Usuário</h3>
    <p>Para utilizar o sistema, você deve criar uma conta registrando-se com informações verdadeiras e precisas. Você é
        responsável por manter a segurança de sua conta e senha.</p>
    <h3>4. Limitações de Uso</h3>
    <p>Você não pode usar o sistema para atividades ilegais, prejudiciais, ofensivas ou que violem os direitos de
        terceiros. A Empresa se reserva o direito de monitorar e moderar o uso do sistema.</p>
    <h3>5. Propriedade Intelectual</h3>
    <p>Todos os direitos autorais, marcas registradas e outros direitos de propriedade intelectual relacionados ao
        sistema são de propriedade da Empresa ou de terceiros autorizados. Você não pode copiar, modificar, distribuir
        ou criar obras derivadas sem permissão prévia.</p>
    <h3>6. Responsabilidade</h3>
    <p>A Empresa não se responsabiliza por qualquer dano ou perda decorrente do uso do sistema, incluindo, mas não se
        limitando a, perda de dados, interrupções de serviço ou danos financeiros.</p>
    <h3>7. Mudanças nos Termos</h3>
    <p>A Empresa pode atualizar estes Termos a qualquer momento. Você é responsável por verificar as atualizações e
        continuar a cumprir os Termos conforme alterados.</p>
    <h3>8. Rescisão</h3>
    <p>A Empresa pode rescindir seu acesso ao sistema a qualquer momento, sem aviso prévio, por violação dos Termos ou
        por qualquer outro motivo.</p>
    <h3>9. Jurisdição</h3>
    <p>Estes Termos são regidos pelas leis da [Localização Jurídica], independentemente de qualquer princípio de
        conflito de leis.</p>
    <h3>10. Contato</h3>
    <div class="contact">
        <p>Para quaisquer dúvidas ou preocupações, entre em contato com a Empresa pelo seguinte endereço: <strong>support&#64;hisnapqr.com</strong>.</p>
    </div>
</section>