<section class="form-wrapper">

    <h2>Redefinição de Senha</h2>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label for="email">E-mail <b class="form-error">*</b></label>
            <input id="email" formControlName="email" type="email" />
            <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched" class="form-error">
                <small>O e-mail é obrigatório e deve ser válido.</small>
            </div>
        </div>

        <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>

    </form>

</section>