<section class="form-wrapper">
    <h2>Redefinição de Senha</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
        <label for="email">E-mail:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
            O e-mail é obrigatório e deve ser válido.
        </div>
        <button type="submit" [disabled]="forgotPasswordForm.invalid">Enviar</button>
    </form>

    <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
</section>