<div class="sidebar" [class.mobile]="isMobile" [class.expanded]="isExpanded">
    
    <div class="controls">
        <sqr-button
            *ngIf="isMobile"
            icon="fa-solid close"
            iconPosition="left"
            [showIconMobile]="true"
            [showIconDesktop]="true"
            [showTextMobile]="false"
            [showTextDesktop]="true"
            class="primary"
            (click)="toggleSidebar()">
        </sqr-button>
    </div>

    <ul>
        <li *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="active">
            {{ item.label }}
        </li>
    </ul>
</div>