.banner {
    display: flex;
    height: 70vh;
    background-image: url('../../../../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0;
}

.banner .content {
    display: flex;
    flex-direction: column;
    gap:10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 100%;
}

.banner button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.banner button:hover {
    background-color: #f1d9ff;
}

.banner button:active {
    background-color: #e0abff;
}

h1 {
    color: #ffffff;
}

@media (max-width: 768px) {
    .banner .content {
        width: 100%;
    }
}