.banner {
    display: flex;
    height: 70vh;
    background-image: url('../../../../assets/images/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0;

    & h1, h2 {
        margin: 0;
        color: #ffffff;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }

    & h2 {
        font-size: 1em;
    }

    & .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        width: 100%;
    }

    & button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        width: 200px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    & button:hover {
        background-color: #f1d9ff;
    }

    & button:active {
        background-color: #e0abff;
    }
}



@media (max-width: 768px) {
    .banner .content {
        width: 100%;
    }
}