<app-banner></app-banner>

<h1>QR Code só tem vantagens</h1>

<section class="advantages-section" aria-labelledby="advantage-speed">
    <figure>
        <img src="assets/images/qr-code-advantage-01.webp" alt="QR Code sendo escaneado rapidamente por um smartphone"
            loading="lazy" width="300" height="300" />
        <figcaption>Escaneamento rápido e eficiente</figcaption>
    </figure>
    <div class="text">
        <h2 id="advantage-speed">Agilidade</h2>
        <p>Os códigos QR oferecem um escaneamento instantâneo, permitindo o acesso rápido a informações sem necessidade
            de digitação manual. Isso os torna ideais para pagamentos, ingressos digitais e compartilhamento de links.
        </p>
    </div>
</section>

<section class="advantages-section" aria-labelledby="advantage-versatility">
    <figure>
        <img src="assets/images/qr-code-advantage-02.webp"
            alt="Representação visual da versatilidade dos QR Codes, exibindo diferentes usos" loading="lazy"
            width="300" height="300" />
        <figcaption>Diversas aplicações para diferentes necessidades</figcaption>
    </figure>
    <div class="text">
        <h2 id="advantage-versatility">Versatilidade</h2>
        <p>Os códigos QR podem armazenar diversos tipos de informações, como URLs, contatos, detalhes de pagamento,
            menus digitais e autenticação segura. Sua flexibilidade os torna uma solução ideal para negócios e
            marketing.</p>
    </div>
</section>

<section class="advantages-section" aria-labelledby="advantage-usability">
    <figure>
        <img src="assets/images/qr-code-advantage-03.webp"
            alt="Usuário acessando conteúdos interativos por meio de um QR Code" loading="lazy" width="300"
            height="300" />
        <figcaption>Facilidade de uso e acessibilidade</figcaption>
    </figure>
    <div class="text">
        <h2 id="advantage-usability">Usabilidade</h2>
        <p>Com um simples escaneamento, os usuários podem acessar conteúdos exclusivos, promoções, formulários e muito
            mais. A praticidade dos QR Codes reduz barreiras e melhora a experiência digital.</p>
    </div>
</section>