<div class="topbar">
    <div class="main">

        <app-sqr-button
            *ngIf="isMobile"
            icon="fa-solid bars"
            iconPosition="left"
            [showIconMobile]="true"
            [showIconDesktop]="true"
            [showTextMobile]="false"
            [showTextDesktop]="true"
            class="primary"
            (click)="toggleSidebar()">
            <span>Site</span>
        </app-sqr-button>

    </div>
    <div class="options">

        <app-sqr-button
            icon="fa-solid qrcode"
            iconPosition="left"
            [showIconMobile]="true"
            [showIconDesktop]="true"
            [showTextMobile]="false"
            [showTextDesktop]="true"
            class="primary"
            routerLink="/">
            <span>Site</span>
        </app-sqr-button>

        <app-sqr-button
            icon="fa-solid door-open"
            iconPosition="left"
            [showIconMobile]="true"
            [showIconDesktop]="true"
            [showTextMobile]="false"
            [showTextDesktop]="true"
            class="primary"
            (click)="handleAuthAction()">
            <span>Sair</span>
        </app-sqr-button>

    </div>
</div>