<article class="product-card" itemscope itemtype="https://schema.org/Product">
    <header>
        <!-- Título do produto -->
        <h2 itemprop="name">✨ {{ name }}</h2>
    </header>
    <section>
        <!-- Quantidade de Créditos -->
        <p class="quantity" itemprop="description">{{ quantity }} Créditos</p>
        <!-- Preço total -->
        <p class="price">
            <span itemprop="price">💵 {{ price / 100  | currencyFormat: 'BRL'}}</span>
        </p>
        <!-- Preço por unidade -->
        <p class="unity-price">🪙 {{ price / 100 / quantityNumber | currencyFormat: 'BRL' }} por unidade</p>
    </section>
    <figure *ngIf="imageUrl">
        <!-- Imagem do produto -->
        <img src="{{ imageUrl }}" alt="Imagem do produto {{ name }}: ideal para gerar {{ quantity }} QR Codes"
            class="product-image" itemprop="image">
        <figcaption>{{ imageCaption }}</figcaption>
    </figure>
    <section>
        <!-- Descrição -->
        <p class="description" itemprop="description">📋 {{ description }}</p>
    </section>
    <footer>
        <!-- Botão com destaque -->
        <sqr-checkout-button [priceId]="priceId" itemprop="offers" itemscope
            itemtype="https://schema.org/Offer">
            <meta itemprop="priceCurrency" content="BRL" />
            <link itemprop="availability" href="https://schema.org/InStock" />
            <span>🛒 Comprar Agora</span>
        </sqr-checkout-button>
    </footer>
</article>
