.product-card {
    border: 2px solid #6a1b9a;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    transition: transform 0.2s;
    margin: 10px;
    text-align: center;

    &:hover {
        border: 2px solid #6a1b9a;
    }

    & .price, & .quantity, & .description, & .unity-price {
        margin: 10px 0;
    }

    & h1 {
        margin: 0;
        font-size: 1.2em;
        color: #6a1b9a;
    }

    & .unity-price{
        font-size: 0.8em;
    }

    & .product-image {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }

    & footer {
        text-align: center;
        margin-top: 20px;
    }
}
