<article class="product-card">
    <header>
        <h1>{{ name }}</h1>
    </header>
    <section>
        <p class="quantity">+ {{ quantity }} QR Codes</p>
        <p class="price">R$ {{ price/100 }}</p>
        <p class="unity-price">R$ {{ price/100/quantityNumber }} por unidade</p>
    </section>
    <figure *ngIf="imageUrl">
        <img src="{{ imageUrl }}" alt="Imagem do produto {{ name }}" class="product-image">
        <figcaption>{{ imageCaption }}</figcaption>
    </figure>
    <section>
        <p class="description">{{ description }}</p>
    </section>
    <footer>
        <sqr-checkout-button [priceId]="priceId"></sqr-checkout-button>
    </footer>
</article>