<section class="form-wrapper">
    <h2>Redefina sua Senha</h2>
    <div *ngIf="token; else errorTemplate">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="newPassword">Nova Senha <b class="form-error">*</b></label>
                <input id="newPassword" formControlName="newPassword" type="password" />
                <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
                    <small>A senha deve ter pelo menos 6 caracteres.</small>
                </div>
            </div>
            <button type="submit" [disabled]="resetPasswordForm.invalid">Redefinir Senha</button>
        </form>

        <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>
    <ng-template #errorTemplate>
        <p>O token é obrigatório para redefinir a senha. Por favor, acesse o link correto enviado para o seu e-mail.</p>
    </ng-template>
</section>