:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.widget-title {
    display: flex;
    padding: 15px 30px 15px 30px;
    background-color: var(--primary-color);
    color: #f4f4f4;
    width: 100%;
    box-sizing: border-box;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.filters label {
    display: flex;
    flex-direction: column;
}

.qrcode-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.qrcode-table th,
.qrcode-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.qrcode-table th {
    background-color: #f4f4f4;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}