<section class="form-wrapper">
    <h2>Gerar QR Code Pix</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="keyPix">Chave PIX</label>
            <input type="text" id="keyPix" name="keyPix" [(ngModel)]="keyPix" required>
        </div>
        <div *ngIf="loading" class="loading-indicator">
            <p>Carregando...</p>
        </div>
        <div class="image-container">
            <div *ngIf="!imageBase64" class="empty-text">Nada por aqui ainda...</div>
            <img *ngIf="imageBase64" [src]="imageBase64" alt="QR Code" class="full-size-image">
        </div>
        <button type="submit" class="submit-button">Gerar QRCode</button>
    </form>
</section>