@use './assets/styles/variables';
@use './assets/styles/mixins';
@use './assets/styles/icons';
@use './assets/styles/buttons';
@use './assets/styles/animations';
@use './assets/styles/typography';


label {
    color: #6a0dad !important;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    margin: 0;
    animation: slideIn 1s ease-out;
    margin-top: 40px;
    text-align: center;
    color: #6a0dad;
    animation: slideIn 1s ease-out;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-color: #6a0dad;
    border-radius: 5px;
    box-sizing: border-box;
}

input:active {
    border-color: #6a0dad;
}

.form-wrapper {
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.form-wrapper h2 {
    color: #6a0dad;
    margin-bottom: 20px;
    text-align: center;
}

.form-wrapper label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-wrapper input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #6a0dad;
}

.form-wrapper button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #6a0dad;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.form-wrapper button:hover {
    background: #9932cc;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-link {
    color: #6a0dad;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

.form-link:hover {
    color: #9932cc;
    text-decoration: underline;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    .form-wrapper {
        margin: 20px;
    }

    form {
        padding: 0px;
    }

    h1 {
        font-size: 1.5rem;
    }

    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-100%);
    }

    .sidebar.expanded {
        transform: translateX(0);
    }
}