body {
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #6a0dad;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #9932cc;
}

label {
    color: #6a0dad !important;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-color: #6a0dad;
    border-radius: 5px;
    box-sizing: border-box;
}

input:active {
    border-color: #6a0dad;
}

.form-wrapper {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.form-wrapper h2 {
    color: #6a0dad;
    margin-bottom: 20px;
    text-align: center;
}

.form-wrapper label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.form-wrapper input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #6a0dad;
}

.form-wrapper button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #6a0dad;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.form-wrapper button:hover {
    background: #9932cc;
}

.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form-link {
    color: #6a0dad;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
}

.form-link:hover {
    color: #9932cc;
    text-decoration: underline;
    cursor: pointer;
}

.text-center {
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .form-wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}