@use './variables' as vars;
@use './mixins' as mix;

body {
    font-family: vars.$font-family;
    color: vars.$text-color;
    background-color: vars.$neutral-color;
    margin: 0;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: vars.$font-family;
    margin: 0;
}

h1 {
    @include mix.responsive-font(1.5rem, 2.5rem);
}

h2 {
    @include mix.responsive-font(1.75rem, 2.5rem);
}

p {
    @include mix.responsive-font(1rem, 1.25rem);
}